<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Library Management API</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Library Management API</h1>
        <p>API for managing library books and users</p>
        <h2>API Endpoints</h2>
        <ul>
            <li><a href="/api/books">/api/books</a> - Get all books</li>
            <li><a href="/api/books/1">/api/books/1</a> - Get book by ID</li>
            <li><a href="/api/books/1/users">/api/books/1/users</a> - Get users who have borrowed book by ID</li>
            <li><a href="/api/users">/api/users</a> - Get all users</li>
            <li><a href="/api/users/1">/api/users/1</a> - Get user by ID</li>
            <li><a href="/api/users/1/books">/api/users/1/books</a> - Get books borrowed by user by ID</li>
        </ul>        
        <script src="" async defer></script>
    </body>
</html>